@tailwind base;
  @tailwind components;
  @tailwind utilities;
  @layer base {
    

    
:root  {
  --background: 53 100% 96%;
  --foreground: 53 5% 10%;
  --card: 53 50% 96%;
  --card-foreground: 53 5% 15%;
  --popover: 53 100% 96%;
  --popover-foreground: 53 100% 10%;
  --primary: 53 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 53 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 15 30% 95%;
  --muted-foreground: 53 5% 40%;
  --accent: 15 30% 90%;
  --accent-foreground: 53 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 53 5% 96%;
  --border: 53 30% 82%;
  --input: 53 30% 50%;
  --ring: 53 100% 50%;
  --radius: 0.5rem;
}
.dark  {
  --background: 53 50% 10%;
  --foreground: 53 5% 96%;
  --card: 53 50% 10%;
  --card-foreground: 53 5% 96%;
  --popover: 53 50% 5%;
  --popover-foreground: 53 5% 96%;
  --primary: 53 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 53 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 15 30% 25%;
  --muted-foreground: 53 5% 65%;
  --accent: 15 30% 25%;
  --accent-foreground: 53 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 53 5% 96%;
  --border: 53 30% 50%;
  --input: 53 30% 50%;
  --ring: 53 100% 50%;
  --radius: 0.5rem;
}

  }